body {
    margin: 0;
    padding: 0;
    font-family: 'Miriam Libre', sans-serif;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: linear-gradient(to right, #86E7FF,#A7D6E1);
    height: 120px;
    width: 100%;
}

.receptionText {
    margin: 0;
    padding: ;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10vh;
}

.profilePic {
    position: relative;
    bottom: 70%;
    left: 85%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.headerButton {
    position: relative;
    bottom: 100px;
    right: 40px;
    border: none;
    border-radius: 20px;
    background-color: #DAEEF3;
    cursor: pointer;
}

.hideButton {
    position: relative;
    bottom: 25px;
    left: 80px;
    border: none;
    border-radius: 20px;
    background-color: #DAEEF3;
    cursor: pointer;
}

.account {
    display: flex;
    justify-content: center;

}

.accountMid {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.accountEarns {
    display: flex;
    justify-content: center;
    color: green;
}

.navTransfer {
    position: relative;
    border: none;
    margin-bottom: 30px;
    left: 40px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #86E7FF,#A7D6E1);
    cursor: pointer;
}

.buttonCard {
    position: relative;
    border: none;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    left: 100px;
    bottom: 140px;
    background-image: linear-gradient(to right, #86E7FF,#A7D6E1);
    cursor: pointer;
}

.card {
    position: relative;
    left: 30px;
    top: 10px;
    width: 350px;
}

.cardInfo {
    position: relative;
    left: 50px;
    bottom: 160px;
    font-size: 20px;
}

.divNav {
    position: relative;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 80px;
    left: 50px;
    bottom: 120px;
    background-image: linear-gradient(to right, #86E7FF,#A7D6E1);
    cursor: pointer;
}